body{
     
}

.imageContainer{

    height: 40px;
    width: 40px;
    border: 2px solid red;
    
    background-color: black;

}
.myImage{
    height: 800px;
    width: 500px;
    transform: translateY(-700px);
}